@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --links-bg-color: #eaecf0;
  --text-color: #101828;
  --gray-500: #667085;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  text-align: center;
}
body {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

/* NAVBAR */

nav {
  padding: 4rem 0 2rem;
}

.nav-container {
  padding: 0 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-btn-container {
  position: absolute;
  right: 1rem;
  top: -1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 10rem;
  direction: rtl;
}

.tooltip {
  width: 85px;
  height: 34px;
  background: #101828;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  display: grid;
  place-items: center;
  position: relative;
  visibility: hidden;
}

.tooltip h4 {
  color: white;
}

.tooltip-arrow {
  position: absolute;
  width: 12px;
  height: 12px;
  right: -6px;
  background: #101828;
  border-radius: 1px;
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}

.mobile-share-btn {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px dashed #d0d5dd;
  border-radius: 50%;
  background: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.mobile-share-btn:active {
  background: #f9fafb;
}

.mobile-share-btn img {
  width: 50%;
}

.web-share-icon {
  display: none;
}

.profile-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.overlay-container {
  border-radius: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #344054bf;
  opacity: 0;
}

.overlay img {
  width: 1.5rem;
  margin: 0 auto;
  position: relative;
  top: 70%;
}

.overlay:active {
  opacity: 1;
}

#profile_img {
  cursor: pointer;
}

#slack {
  visibility: hidden;
}

/* LINKS SECTION */

.links-container {
  display: grid;
  place-items: center;
  row-gap: 1.5rem;
  list-style-type: none;
  text-transform: capitalize;
  padding-left: 4vw;
  padding-right: 4vw;
}

.link-btn {
  background: var(--links-bg-color);
  color: var(--text-color);
  width: 100%;
  height: 4.25rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  line-height: 1.4rem;
}

.link-btn:focus {
  background: #d0d5dd;
}

/* SOCIAL ICONS */
.social-icons {
  padding: 1.5rem 0;
  padding-bottom: 4rem;
}
.social-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
}

/* CONTACT PAGE */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 0;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-article-1 {
  padding: 0 1rem;
}

.contact-article-1 h1 {
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 2.75rem;
  padding-bottom: 2rem;
}

.contact-article-2 {
  padding: 0 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.form_field {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.name-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form_field input {
  padding-left: 2vw;
  height: 2.8rem;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.form_field input::placeholder,
.form_field textarea::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: var(--gray-500);
  font-family: "Inter", sans-serif;
}

.form_field textarea {
  padding: 0.75rem 2vw;
  resize: none;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.check-box-container {
  display: flex;
  flex-direction: row;
  padding: 2px 0px 0px;
  align-items: baseline;
  column-gap: 0.5rem;
  color: var(--gray-500);
  font-size: 1rem;
}

#btn__submit {
  background: #1570ef;
  color: white;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* FOOTER */
footer {
  padding: 2rem 1rem;
  padding-bottom: 2rem;
  position: relative;
}
.horizontal-bar {
  height: 1px;
  margin: 0 auto;
  margin-bottom: 4rem;
  background: var(--gray-500);
  opacity: 0.3;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.zuri-logo {
  width: 10rem;
}
.i4G-logo {
  width: 10rem;
}

.footer-container h4 {
  color: var(--gray-500);
  font-weight: 400;
}

/* MEDIA QUERIES */
@media screen and (min-width: 760px) {
  nav {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .overlay:hover {
    opacity: 1;
  }
  .share-btn-container {
    right: 5rem;
  }
  .mobile-share-btn:hover {
    background: #f9fafb;
  }

  .mobile-share-btn:hover + .tooltip {
    visibility: visible;
  }

  .mobile-share-icon {
    display: none;
  }
  .web-share-icon {
    display: block;
  }
  .links-container {
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .link-btn:hover {
    background: #d0d5dd;
  }

  /* CONTACT PAGE */
  .contact-section {
    align-items: center;
  }
  
.name-container {
  flex-direction: row;
  justify-content: space-between;
}

  .name-container input {
    width: 21.8rem;
  }

  /* FOOTER */
  footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .zuri-logo {
    width: 12rem;
  }
}
